<div class="hero-unit">
    <div class="row-fluid">
        <div class="span5">
            <div id="carousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/img/kevoree-logo.png" alt="Kevoree Logo"/>
                    </div>
                    <div class="item">
                        <img src="/img/codeEditorScreenshot.png" alt="Kevoree Editor"/>

                        <div class="carousel-caption"><h4>Write code, extract model at compile time</h4></div>
                    </div>
                    <div class="item">
                        <img src="/img/editorScreenShot.png" alt="Kevoree Editor"/>

                        <div class="carousel-caption"><h4>Draw your architecture model</h4></div>
                    </div>
                    <div class="item">
                        <img src="/img/runtimeScreenshot.png" alt="Kevoree Runtime"/>

                        <div class="carousel-caption"><h4>Deploy your code in a Kevoree node</h4></div>
                    </div>
                </div>
                <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('.carousel').carousel({
                        interval:4000
                    });
                });

            </script>

        </div>
        <div class="span6">
            <h1>What is Kevoree?</h1>

            <p>Kevoree project aims at enabling distributed reconfigurable software development.
                Build around a component model, Kevoree leverages model@runtime approach to offer tools to build, adapt
                and synchronize distributed systems.</p>

            <h1>Why Kevoree?</h1>

            <p>Extensible, this project already offers runtime for JVM, Android, Arduino but also for virtualization
                management such as VirtualBox.
                In short Kevoree helping you to develop your adaptable software from Cloud stack to embedded devices
                !</p>
        </div>
    </div>
</div>


<div class="row about">
    <div class="span4">
        <h3><img src="{urlpattern}img/icons/glyphicons_001_leaf.png"> Make it easy</h3>
        <p>Kevoree offers an abstraction model that makes easier the manipulation of concepts such as Nodes, Components,
            Synchronization groups and Communication channels in distributed software systems.</p>
    </div>
    <div class="span4">
        <h3><img src="{urlpattern}img/icons/glyphicons_155_show_thumbnails.png"> Distributed modeling</h3>
        <p>Modeling explicits the nodes and the topology of distributed systems. As a system representation, Kevoree
            allows the model itself to be distributed
            across the nodes to share the cluster oraganization.</p>
    </div>
    <div class="span4">
        <h3><img src="{urlpattern}img/icons/glyphicons_093_crop.png"> Event driven, scalable</h3>
        <p>Build around asynchronous model, Kevoree allows design of asynchronous communication, asynchronous
            synchronization.</p>
    </div>
</div>

<div class="row about">
    <div class="span4">
        <h3><img src="{urlpattern}img/icons/glyphicons_341_github.png"> Open Source</h3>
        <p>Licensed under LGPL and maintained by the community on <a target="_blank"
                                                                     href="https://github.com/dukeboard/kevoree">GitHub</a>.
        </p>
    </div>
    <div class="span4">
        <h3><img src="{urlpattern}img/icons/glyphicons_082_roundabout.png"> Continuously design</h3>
        <p>Because long living system must evolve while serving, our approach takes care about HotSwap
            functionality.</p>
    </div>

    <div class="span4">
        <h3><img src="{urlpattern}img/icons/glyphicons_232_cloud.png"> Build your own cloud</h3>
        <p>Particular software always need particular optimization. Embeddeding your own adaptation layer in Kevoree
            cluster allows you to build your own cloud.</p>
    </div>

</div>

<br/>
<h3>Acknowledgments</h3>
<div class="row">
    <div class="span12">
        <h4>Kevoree uses The YourKit Java Profiler for Performance Tuning.</h4>

        <p>YourKit is kindly supporting open source projects with its full-featured Java Profiler.<br/>
            YourKit, LLC is the creator of innovative and intelligent tools for profiling Java and .NET applications.
            Take a look at YourKit's leading software products: <a
                    href="http://www.yourkit.com/java/profiler/index.jsp">YourKit Java Profiler</a> and <a
                    href="http://www.yourkit.com/.net/profiler/index.jsp">YourKit .NET Profiler</a></p>
    </div>
</div>



